@import "../../scss/variables.module";

.container{
  &__count{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $color-white-700;
    border-radius: 0.5rem;
    padding: 0.1rem 0.75rem 0.1rem 0;
  }
  &__emojis{
    background-color: $color-white-800;
    padding: 0.5rem;
    border-radius: 0.7rem;
    position: absolute;
    left: -0.5rem;
    bottom: 2rem;
    opacity: 0;
    display: flex;
    z-index: 5;
    gap: 1rem;
    justify-content: space-around;
    transition: 0.2s;
    transform: scaleY(0.8);
    &:hover{
      transition: 0.5s;
      opacity: 1;
    }
  }
  &__react {
    position: relative;
    &:hover .container__emojis{
      transition: 0.2s;
      opacity: 1;
      transform: scaleX(1);
    }
  }
  &__recommendation {
    aspect-ratio: 4/3;
    height: 17rem;
    width: 19rem;
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    object-fit: cover;
    &__heading{
      position: relative;
      z-index: 3;
      height: 1.5rem;
      overflow: clip;
      text-overflow: ellipsis;
      display: block;
    }
    &__subHeading{
      position: relative;
      z-index: 3;
      margin-top: 0.5rem;
    }
    &__body{
      position: relative;
      z-index: 3;
      margin-top: 1rem  ;
    }
  }
  &__photo{
    width: 100% ;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    position: relative;
  }
}


.button{
  position: relative;
  z-index: 3;
  display: flex;
  width: 3rem;
  height: 1.75rem;
  gap: 0.5rem;
}
.emoji{
  position: relative;
  z-index: 3;
  font-size: 1.5rem;
  transition: 0.25s;
  &__highlighted{
    @extend .emoji;
    background-color: $color-white-500;
    border-radius: 0.5rem;
  }
  &:hover{
    border: transparent;
    transition: 0.25s;
    transform: scale(1.1);
    cursor: pointer;
  }
  &__count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: clip;
    color: $color-white-700;
    border-radius: 50%;
    font-size: 0.75rem;
    right: 0;
    width: 2rem;
    height: 1rem;
    background-color: $color-green;
  }
}

.interact {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}