@import "../../scss/variables.module";

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  &__left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 32rem);
    background-color: $color-green;
  }
  &__right{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 100vh;
    width: 32rem;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: $color-black-800;
  &__container{
    width: 4rem;
    height: 4rem;
    position: relative;
  }
}
