@import '../../scss/variables.module';

.container{
  display: flex;
  flex-flow: row;
  width: 22rem;
  background-color: $color-white-800;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 0.5rem 0.25rem rgb($color-black-900, 0.25));
  &__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 19rem;
  }
  &__marker {
    display: flex;
    align-items: center;
  }
  &__forms{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__category{
    position: relative;
  }
}
.input {
  height: 100%;
  width: 13rem;
  background-color: $color-white-800;
  &:focus{
    border: transparent;
    outline: none;
  }
  &__button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.divider {
  width: 0.05rem;
  height: 80%;
  border-radius: 0.1rem;
  background-color: $color-grey-700;
}

.categories {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 3rem;
  width: 16rem;
  border-radius: 0.25rem;
  background-color: $color-white-800;
     filter: drop-shadow(0px 0.25rem 0.2rem rgb($color-black-900, 0.2));

  &__select {
    text-align: left;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    &:hover {
      background-color: $color-white-600;
    }
  }
}
