@import "./variables.module";

.paragraph{
  font-size: 0.9rem;
  color: $color-black-800;
  &::placeholder{
    color: $color-grey-900;
    font-size: 0.9rem;
  }
  &__white{
    @extend .paragraph;
    color: $color-white-700;
    &__thick{
      @extend .paragraph__white;
      font-weight: 600;
    }
  }
  &__grey{
    @extend .paragraph;
    color: $color-grey-900
  }
  &__small {
    font-size: 0.8rem;
    color: $color-grey-900;
    &__white{
      @extend .paragraph__small;
      color: $color-white-700;
    }
    &__grey{
      @extend .paragraph__small;
      color: $color-grey-900;
    }
    &__green{
      @extend .paragraph__small;
      color: $color-green;
    }
  }
}

.heading1{
  font-size: 3rem;
  color: $color-black-900;
  font-weight: 800;
  &__white{
    @extend .heading1;
    color: $color-white-900;
  }
}
.heading2{
  font-size: 2.5rem;
  color: $color-black-800;
  font-weight: 700;
  &__white{
    @extend .heading2;
    color: $color-white-800;
  }
}
.heading3{
  font-size: 1.75rem;
  color: $color-black-800;
  font-weight: 600;
  &__white{
    @extend .heading3;
    color: $color-white-700;
  }
}
.heading4{
  font-size: 1.25rem;
  color: $color-black-800;
  font-weight: 600;
  &__white{
    @extend .heading4;
    color: $color-white-700;
  }
}